body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
}

nav {
	background-color: #ccc;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #4CAF50;
	text-decoration: none;
	padding: 5px 10px;
}

nav ul li a:hover {
	background-color: #4CAF50;
	color: #fff;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}

h2 {
	margin-top: 0;
}

form {
	border: 1px solid #ccc;
	padding: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type=text], input[type=date],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    }
    
    input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    }
    
    input[type=submit]:hover {
    background-color: #4CAF55;
    }
    
    #calendar {
    height: 500px;
    }